.slider{
    width: 800px;
    height: 400px;
    margin: auto;
}

.btn-container{
    text-align: center;
    font-size: 5rem;
    margin: 10px;
}

.btn{
    border: none;
    font-size: 2rem;
    background: skyblue;
    border-radius: 5px;
    color: azure;
    cursor: pointer;
}